<a href="https://colab.research.google.com/github/mnrlmuttaqin/customersegmentationmanualwithkmeans/blob/main/0168__MNURULMUTTAQIN_KMEANS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pengertian

K-means merupakan salah satu algoritma yang bersifat unsupervised learning. K-Means memiliki fungsi untuk mengelompokkan data kedalam data cluster. Algoritma ini dapat menerima data tanpa ada label kategori. K-Means Clustering Algoritma juga merupakan metode non-hierarchy. Metode Clustering Algoritma adalah mengelompokkan beberapa data ke dalam kelompok yang menjelaskan data dalam satu kelompok memiliki karakteristik yang sama dan memiliki karakteristik yang berbeda dengan data yang ada di kelompok lain. Cluster Sampling adalah teknik pengambilan sampel di mana unit-unit populasi dipilih secara acak dari kelompok yang sudah ada yang disebut ‚Äòcluster, nah Clustering atau klasterisasi adalah salah satu masalah yang menggunakan teknik unsupervised learning.

K-Means Clustering adalah suatu metode penganalisaan data atau metode Data Mining yang melakukan proses pemodelan unssupervised learning dan menggunakan metode yang mengelompokan data berbagai partisi.

K Means Clustering memiliki objective yaitu meminimalisasi object function yang telah di atur pada proses clasterisasi. Dengan cara minimalisasi variasi antar 1 cluster dengan maksimalisasi variasi dengan data di cluster lainnya.

# Cara Kerja
Untuk melakukan clustering, kita memerlukan beberapa tahapan, diantaranya adalah:

<ol>
<li>Penentuan nilai k atau cluster yang akan dibuat</li>

<li>Inisialisasi nilai centroid secara random</li>

Centroid merupakan nilai pusat (center) dari sebuah cluster. Misalkan kita mengatur k = 3, maka akan terbentuk centroid C1, C2, dan C3 secara random.

<li>Menetapkan setiap data point ke centroid terdekat</li>

Tahapan ini akan melakukan perhitungan jarak pada setiap data terhadap centroid yang telah dibuat menggunakan Euclidean distance.

<li>Menghitung ulang nilai centroid dari cluster yang baru terbentuk.</li>

<li>Proses ini dilakukan dengan menghitung nilai mean dari setiap data points di dalam cluster tersebut. </li>

<li>Melakukan optimasi agar kriteria terpenuhi dengan mengulang step 3 dan 4.</li>
</ol>

# Contoh :

Salah satu strategi penting pada bidang pemasaran / marketing adalah segmentasi pelanggan. Customer segmentation adalah strategi pemasaran yang mengelompokkan target pasar berdasarkan karakteristik yang sama untuk dikelola secara efektif dan tepat agar mencapai tujuan bisnis yang telah ditetapkan. Divisi bagian Marketing perusahaan DQTech ingin melakukan segmentasi pelanggan untuk menentukan pengelompokan pelanggan yang dilakukan secara tepat dengan tujuan untuk memudahkan perusahaan dalam memasarkan produk secara efisien dan efektif, baik secara biaya maupun waktu. Selain itu, penjualan produk juga dapat lebih meningkat sehingga bisnis secara otomatis akan berkembang.

Marketing DQTech ingin mengelompokan pelanggan berdasarkan umur (<i>age</i>), pendapatan (<i>annual income</i>) dan <i>spending score</i> (merupakan angka integer (1‚Äì100) yang ditentukan oleh pihak perusahaan berdasarkan sifat, behaviour, dan kebiasaan belanja dari tiap-tiap pelanggan) :


<table>
  <tr>
    <td align="center">customer</td>
    <td align="center">age</td>
    <td align="center">annual income</td>
    <td align="center">spending score</td>
  </tr>
  <tr>
    <td align="center">1</td>
    <td align="center">19</td>
    <td align="center">15</td>
    <td align="center">39</td>
  </tr>
  <tr>
    <td align="center">2</td>
    <td align="center">21</td>
    <td align="center">15</td>
    <td align="center">81</td>
  </tr>
  <tr>
    <td align="center">3</td>
    <td align="center">20</td>
    <td align="center">16</td>
    <td align="center">6</td>
  </tr>
  <tr>
    <td align="center">4</td>
    <td align="center">23</td>
    <td align="center">17</td>
    <td align="center">77</td>
  </tr>
  <tr>
    <td align="center">5</td>
    <td align="center">31</td>
    <td align="center">16</td>
    <td align="center">40</td>
  </tr>
  <tr>
    <td align="center">6</td>
    <td align="center">28</td>
    <td align="center">18</td>
    <td align="center">82</td>
  </tr>
  <tr>
    <td align="center">7</td>
    <td align="center">27</td>
    <td align="center">20</td>
    <td align="center">5</td>
</table>

Dengan algoritma clustering K-Means (parameter : iterasi = 2, banyak cluster = 3) \[parameter ini tentu bisa disetting secara bebas\] buatlah pengelompokan pelanggan tersebut!

Jawab :

Parameter K-Means 

*   iterasi = 2
*   banyak cluster = 3

Diketahui banyak data ùëõ = 7

<ol>
  <li><b>Tentukan Nilai Max dan Min tiap Variabel</b></li>
      <ul>Age : (min = 19, max = 31)</ul>
      <ul>Annual Income  : (min = 15, max = 20)</ul>
      <ul>Spending Score : (min = 5, max = 82)</ul>
  <li><b>Tentukan Pusat Cluster Awal (<i>Centroid</i>) Secara Acak</b></li>
      Akan dilakukan proses penentuan posisi cluster awal sebanyak 3 cluster (sesuai parameter yang ditentukan) secara acak (<i>random</i>) namun pada interval tertutup tiap-tiap variabel
      <ul>Cluster-ùëñ = (random[19, 31], random[15, 20], random[5, 82])</ul>
      <ul>Cluster 1 = (24, 17, 48)</ul>
      <ul>Cluster 2 = (19, 16, 37)</ul>
      <ul>Cluster 3 = (31, 15, 65)</ul>
   <li><b>Hitung Jarak Data per-Customer Terhadap Masing-Masing <i>Centroid</i></b></li>
   Customer 1
   <ol type="a">
   <li>Jarak Data Customer 1 dengan Centroid 1</li>
      \begin{equation}
      d_{1,1} = \sqrt{(c_{1,1}-x_{1,1})^2 + (c_{1,2}-x_{1,2})^2 + (c_{1,3}-x_{1,3})^2}
      \end{equation}
      \begin{equation}
      d_{1,1} = \sqrt{(24-19)^2 + (17-15)^2 + (48-39)^2} = 10.4880
      \end{equation}

   <li>Jarak Data Customer 1 dengan Centroid 2</li>
      \begin{equation}
      d_{1,2} = \sqrt{(c_{2,1}-x_{1,1})^2 + (c_{2,2}-x_{1,2})^2 + (c_{2,3}-x_{1,3})^2}
      \end{equation}
      \begin{equation}
      d_{1,2} = \sqrt{(19-19)^2 + (16-15)^2 + (37-39)^2} = 2.2360
      \end{equation}
  
  <li>Jarak Data Customer 1 dengan Centroid 3</li>
      \begin{equation}
      d_{1,3} = \sqrt{(c_{3,1}-x_{1,1})^2 + (c_{3,2}-x_{1,2})^2 + (c_{3,3}-x_{1,3})^2}
      \end{equation}
      \begin{equation}
      d_{1,3} = \sqrt{(31-19)^2 + (15-15)^2 + (65-39)^2} = 45.9020
      \end{equation}
   <li>Tentukan Jarak Minimal Data Customer 1 terhadap Centroid</li>
   \begin{equation}
    jarak_{min} = min(d_{1,1},\;d_{1,2},\;d_{1,3})
   \end{equation} 
   \begin{equation}
    jarak_{min} = min(10.4880,\;2.2360,\;45.9020)
   \end{equation}  
   \begin{equation}
    jarak_{min} = 2.2360
   \end{equation} 

   Diperoleh jarak paling dekat (minimum) terjadi pada Cluster 2 sehingga Customer 1 akan diletakkan pada kelompok Cluster 2
   </ol>
  Customer 2
   <ol type="a">
   <li>Jarak Data Customer 2 dengan Centroid 1</li>
      \begin{equation}
      d_{2,1} = \sqrt{(c_{1,1}-x_{2,1})^2 + (c_{1,2}-x_{2,2})^2 + (c_{1,3}-x_{2,3})^2}
      \end{equation}
      \begin{equation}
      d_{2,1} = \sqrt{(24-21)^2 + (17-15)^2 + (48-81)^2} = 33.1963
      \end{equation}

   <li>Jarak Data Customer 2 dengan Centroid 2</li>
      \begin{equation}
      d_{2,2} = \sqrt{(c_{2,1}-x_{2,1})^2 + (c_{2,2}-x_{2,2})^2 + (c_{2,3}-x_{2,3})^2}
      \end{equation}
      \begin{equation}
      d_{2,2} = \sqrt{(19-21)^2 + (16-15)^2 + (37-81)^2} = 44.0567
      \end{equation}
  
  <li>Jarak Data Customer 2 dengan Centroid 3</li>
      \begin{equation}
      d_{2,3} = \sqrt{(c_{3,1}-x_{2,1})^2 + (c_{3,2}-x_{2,2})^2 + (c_{3,3}-x_{2,3})^2}
      \end{equation}
      \begin{equation}
      d_{2,3} = \sqrt{(31-21)^2 + (15-15)^2 + (65-81)^2} = 85.0117
      \end{equation}
   <li>Tentukan Jarak Minimal Data Customer 2 terhadap Centroid</li>
   \begin{equation}
    jarak_{min} = min(d_{2,1},\;d_{2,2},\;d_{2,3})
   \end{equation} 
   \begin{equation}
    jarak_{min} = min(33.1963,\;44.0567,\;85.0117)
   \end{equation}  
   \begin{equation}
    jarak_{min} = 33.1963
   \end{equation} 

   Diperoleh jarak paling dekat (minimum) terjadi pada Cluster 1 sehingga Customer 2 akan diletakkan pada kelompok Cluster 1
   </ol>

   Dengan cara yang sama maka akan diperoleh perhitungan sebagai berikut

   ![image.png]()

   <li><b>Periksa <i>Stop Conditions</i></b></li>
   Perhitungan akan terhenti jika iterasi telah mencapai kondisi yang diinginkan (pada case ini berarti iterasi perhitungan akan berhenti saat iterasi = 2). Karena iterasi belum mencapai nilai 2 maka perhitungan akan dilanjutkan

   <li><b>Update Centroid</b></li>
   Pusat cluster (centroid) baru ditentukan dengan cara menghitung rata-rata nilai ùë• pada data yang terpilih, sehingga diperoleh hasil sebagai berikut :     
   Centroid Cluster 1 :

   \begin{equation}
   c_{1,1} = \frac{x_{2,1} + x_{4,1} + x_{5,1} + x_{6,1}}{4}
   \end{equation}
   \begin{equation}
   c_{1,1} = \frac{21+23+31+28}{4} = 25.75
   \end{equation}

   \begin{equation}
   c_{1,2} = \frac{x_{2,2} + x_{4,2} + x_{5,2} + x_{6,2}}{4}
   \end{equation}
   \begin{equation}
   c_{1,2} = \frac{15+17+16+18}{4} = 16.5
   \end{equation}

   \begin{equation}
   c_{1,3} = \frac{x_{2,3} + x_{4,3} + x_{5,3} + x_{6,3}}{4}
   \end{equation}
   \begin{equation}
   c_{1,2} = \frac{81+77+40+82}{4} = 70
   \end{equation}

   Diperoleh centroid cluster 1 yang baru = (25.75, 16.5, 70)

   Centroid Cluster 2 : 
   
   \begin{equation}
   c_{2,1} = \frac{x_{1,1} + x_{7,1}}{2}
   \end{equation}
   \begin{equation}
   c_{2,1} = \frac{19+27}{2} = 23
   \end{equation}

   \begin{equation}
   c_{2,2} = \frac{x_{1,2} + x_{7,2}}{2}
   \end{equation}
   \begin{equation}
   c_{2,2} = \frac{15+17}{2} = 16
   \end{equation}

   \begin{equation}
   c_{2,3} = \frac{x_{1,3} + x_{7,3}}{2}
   \end{equation}
   \begin{equation}
   c_{2,3} = \frac{39+76}{2} = 57.5
   \end{equation}

   Diperoleh centroid cluster 2 yang baru = (23, 16, 57.5)
   
   Centroid Cluster 3 : 
   
   \begin{equation}
   c_{3,1} = \frac{x_{3,1}}{1}
   \end{equation}
   \begin{equation}
   c_{3,1} = \frac{20}{1} = 20
   \end{equation}

   \begin{equation}
   c_{3,2} = \frac{x_{3,2}}{1}
   \end{equation}
   \begin{equation}
   c_{3,2} = \frac{16}{1} = 16
   \end{equation}

   \begin{equation}
   c_{3,3} = \frac{x_{3,3}}{1}
   \end{equation}
   \begin{equation}
   c_{3,3} = \frac{6}{1} = 6
   \end{equation}

  Diperoleh centroid cluster 3 yang baru = (20, 16, 6)

  <li><b>Perhitungan Iterasi 2</b></li>
  Dengan menggunakan centroid yang baru, hitung jarak tiap data terhadap centroid. Dengan cara yang sama diperoleh

![image.png]()

</ol>

Karena iterasi telah tercapai, maka perhitungan berhenti sehingga diperoleh pengelompokan sebagai berikut 

![image.png]()

# Soal

Buatlah sebuah fungsi dengan nama kmeans_clustering dan parameter data, iterasi dan banyak cluster atau <b>kmeans_clustering</b>(data, iterasi, n_cluster) yang menghasilkan return cluster tiap customer (tipe data keluaran dict).

Contoh :      

    >>> data = {age : [19, 21, 20, 23, 31, 28, 27], income : [15, 15, 16, 17, 16, 18, 20], spending_score : [39, 81, 6, 77, 40, 82, 5]}
    >>> result = kmeans_clustering(data = data, iterasi = 2, n_cluster = 3)
    >>> print(result)
    ... {cluster1 : [2, 4, 6], cluster2 : [1, 5], cluster3 : [3, 7]}

In [152]:
#Gluck!

In [153]:
import pandas as pd

In [154]:
#menampilkan data

In [155]:
data = pd.read_excel("Data untuk k means.xlsx")
data = data.drop('customer',axis=1)
data.head(7)

   Age  Annual Income  Spending Score
0   19             15              39
1   21             15              81
2   20             16               6
3   23             17              77
4   31             16              40
5   28             18              82
6   27             20               5

In [156]:
#analisis statistika deskriptif

In [157]:
data.describe()

             Age  Annual Income  Spending Score
count   7.000000       7.000000        7.000000
mean   24.142857      16.714286       47.142857
std     4.561746       1.799471       33.761065
min    19.000000      15.000000        5.000000
25%    20.500000      15.500000       22.500000
50%    23.000000      16.000000       40.000000
75%    27.500000      17.500000       79.000000
max    31.000000      20.000000       82.000000

In [158]:
#inisialisasi centroids secara random

In [159]:
def random_centroids(data, n_cluster):
    centroids = []
    for i in range(n_cluster):
        centroid = data.apply(lambda x: float(x.sample()))
        centroids.append(centroid)
    return pd.concat(centroids, axis=1)

In [160]:
centroids_awal = random_centroids(data=data, n_cluster=3)

In [161]:
centroids_awal

                   0     1     2
Age             27.0  20.0  28.0
Annual Income   16.0  15.0  16.0
Spending Score  39.0  82.0  40.0

In [162]:
import numpy as np

In [163]:
#Hitung jarak setiap data terhadap centroid awal menggunakan jarak euclid

In [164]:
def get_label1(data, centroids):
    distances = centroids.apply(lambda x: np.sqrt(((data - x) ** 2).sum(axis=1)))
    return distances.idxmin(axis=1)

In [165]:
result1 = get_label1(data=data, centroids=centroids_awal)

In [166]:
#hasil clustering tahap pertama

In [167]:
print(result1)

0    0
1    1
2    0
3    1
4    2
5    1
6    0
dtype: int64

In [168]:
result1.value_counts()

0    3
1    3
2    1
dtype: int64

In [169]:
#update centroid dengan cara menghitung rata-rata nilai ùë• pada data yang terpilih berdasarkan labelnya

In [170]:
def new_centroids(data, labels):
    centroids = data.groupby(labels).apply(lambda x: np.exp(np.log(x).mean())).T
    return centroids

In [171]:
centroids_baru = new_centroids(data=data, labels=result1)

In [172]:
centroids_baru

                        0          1     2
Age             21.729469  23.825118  31.0
Annual Income   16.868653  16.618975  16.0
Spending Score  10.537282  79.970510  40.0

In [173]:
#Hitung jarak setiap data terhadap centroid yang telah diupdate menggunakan jarak euclid

In [174]:
def get_label2(data, centroids):
    distances = centroids.apply(lambda x: np.sqrt(((data - x) ** 2).sum(axis=1)))
    return distances.idxmin(axis=1)

In [175]:
result2 = get_label2(data=data, centroids=centroids_baru)

In [176]:
#Berikut adalah hasil akhir dari clustering K Means dengan banyak cluster=3 dan iterasi=2

In [177]:
print(result2)

0    2
1    1
2    0
3    1
4    2
5    1
6    0
dtype: int64

In [178]:
result2.value_counts()

1    3
2    2
0    2
dtype: int64

In [179]:
# Menambahkan kolom cluster pada tabel data
data['cluster'] = result2

In [180]:
data.head(7)

   Age  Annual Income  Spending Score  cluster
0   19             15              39        2
1   21             15              81        1
2   20             16               6        0
3   23             17              77        1
4   31             16              40        2
5   28             18              82        1
6   27             20               5        0